.App {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
  line-height: 1.5;
  display: grid;
  place-items: center;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "content";
}
.red-text {
  color: rgb(163, 19, 19);
}
.green-text {
  color: green;
}
.mini-article-card-header {
  display: flex;
  flex-direction: row;
  color: #404040;
}
.posted-date {
  margin-left: 10px;
}

li.article-card,
.topic-section {
  display: flex;
  flex-direction: column;
  margin: 40px;
  box-shadow: 10px -19px 9px rgb(0 0 0 / 30%);
  background-color: #f0f6c2;
  border: 7px solid #dea61c;
  border-radius: 10px;
  padding: 10px;
}
.topic-section,
.users-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li.user-card {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.comments-container {
  padding: 20px;
}

.article-section {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #0f0d0d;
  padding: 10px;
}
.article-card {
  margin: 0;
  padding: 0;
  text-align: center;

  border: 1px solid #070707;
  padding: 10px;
}
.comment-card,
.topic-section {
  /* to import style, and centre*/
  border: 1px solid #8d1313;
  padding: 10px;
}

.articleCard-image,
.article-image {
  max-width: 100%;
  height: auto;
}
.style-vote {
  border: 1px solid #8d131300;
  padding: 10px;
}
.loggedIn-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.avatar-img {
  width: 171px;
  height: 175px;
  border-radius: 50%;
  border: 1px solid black;
}
.loggedIn-container {
  display: grid;
  margin-top: 10px;
  margin-right: 10px;
}
.loggedIn-username {
  margin-top: 0px;
  margin-left: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.nav,
.header {
  background-color: rgb(89, 149, 132);
}
.nav,
.sort-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.nav > a {
  color: #ffffff;
  background-color: #404040;
  padding: 20px;
  border-radius: 5px;
}
.Header-tiltle {
  margin-left: 20px;
  text-decoration: none;
  color: inherit;
  color: #000000;
}
.page-titles {
  text-align: center;
}

.comment-card {
  position: relative;
  margin: 10px;
}
.delete-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #e69c9c;
  border-radius: 5px;
}
.logout-button,
.login-button {
  bottom: 5px;
  border-radius: 5px;
}
.login-button {
  background-color: mediumaquamarine;
}
.logout-button {
  background-color: salmon;
}

@media only screen and (min-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "header header"
      "nav content";
    justify-items: center;
  }
  body {
    background-color: rgba(148, 189, 195, 0.901);
  }
}
