.App {
  letter-spacing: 1px;
  line-height: 1.5;
  display: grid;
  place-items: center;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "content";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.comments-container {
  padding: 20px;
}

.article-section {
  /* to import style, and centre*/
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #0f0d0d;
  padding: 10px;
}
.article-card {
  /* to import style, */
  margin: 0;
  padding: 0;
  text-align: center;

  border: 1px solid #070707;
  padding: 10px;
}
.comment-card {
  /* to import style, and centre*/
  border: 1px solid #8d1313;
  padding: 10px;
}

.articleCard-image,
.article-image {
  max-width: 100%;
  height: auto;
}
.style-vote {
  border: 1px solid #8d1313;
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "header header"
      "nav content";
    justify-items: center;
  }
  body {
    background-color: bisque;
  }
}
