.App {
  letter-spacing: 1px;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto auto;
  grid-template-areas:
    "header"
    "nav"
    "content";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .App {
    grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "header header"
      "nav content";
  }
  body {
    background-color: bisque;
  }
}
